<!DOCTYPE html>
<html>
<head>
		<link rel= "stylesheet" href="css/packstyle.css">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>exercise and diet recommendations</title>
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
</head>
<body>
	<div class="menu">
        <a href="#" onclick = "navOpen()">
            <img src="icons/menu.svg" alt="menu">
        </a>
    </div>
    <div class="nav">
        <a href="#" onclick = "navClose()">
            <img src="icons/cross.svg" alt="cross">
        </a>
        <div class="list-items">
            <ul>
                <li a href="/" style="text-decoration:none;" target="_blank" >home</a></li>
                <li class='active'> Exercise Recommendations</li>
                <li><a href="/nutriinfo" style="text-decoration:none;" target="_blank">nutrition log</a></li>
                <li><a href="/settings" style="text-decoration:none;" target="_blank">settings</a></li>
                <li><a href="/history" style="text-decoration:none;" target="_blank">history</a></li>
            </ul>
        </div>
    </div>

   <div class="container">
        <h1>choose program based on your Primary Goal</h1>

        <button type="button" class="collapsible" >bodyweight exercises for muscle</button>
		<div class="contentcollaps">
		<p>
			<li>BODYWEIGHT SQUATS</li>
			  <p>
					STEPS:

			   	<br>	1. Stand with your hands on the back of your head and your feet shoulder-width apart with your feet turned out slightly to open the hip joint.</br>

				  <br>	2. Lower your body until your thighs are parallel to the floor.</br>

					<br>  3. Pause, then return to the starting position.</br>

					<br>  4. Repeat.</br>
					<br></br>
				</p>
			<li>PUSH-UPS</li>
						<p>
						STEPS:

					<br>	1. Get down on all fours, placing your hands slightly wider than your shoulders.</br>

					<br>	2. Straighten your arms and legs. </br>

					<br>  3. Lower your body until your chest nearly touches the floor. </br>

					<br>  4. Pause, then push yourself back up.</br>
					<br>  5. repeat </br>
			   	</p>
			<li>PULL-UPS</li>
						<p>
						STEPS:

					<br>	1. Grab the pullup bar with your palms down (shoulder-width grip)</br>

					<br>	2. Pull yourself up by pulling your elbows down to the floor </br>

					<br>  3. Go all the way up until your chin passes the be bar </br>

					<br>  4. Lower yourself until your arms are straight.</br>

					<br>  5. repeat </br>

					</p>


			<li>ELBOW PLANK</li>
			     <p>
						<br> 1. Assume a push-up position but bend your arms at your elbows so your weight rests on your forearms.</br>

						<br> 2. Tighten your abs, clench your glutes and keep your body straight from head to heels.</br>

						<br> 3. Hold for 30 seconds</br>
					</p>


		</p>
		</div>

		 <button type="button" class="collapsible">weight exercises for muscle gain </button>
		<div class="contentcollaps">
  			<p>
					<li>SQUATS</li>
						<p>
							<br>Get Into Position</br>
							<br>Brace Your Body </br>
							<br>Take Your Stance </br>
							<br> Squat Down </br>
							<br>Rise </br>
						</p>
					<li>Deadlift</li>
						<p>
							<br>Walk to the bar. Stand with your mid-foot under the bar. </br>
							<br>Grab the bar. Bend over without bending your legs. </br>
							<br>Bend your knees. Drop into position by bending your knees until your shins touch the bar. </br>
							<br>Lift your chest. Straighten your back by raising you chest. </br>
							<br>Pull </br>
						</p>
					<li>Bench press</li>
						<p>
							<br>Setup. Lie on the flat bench with your eyes under the bar. </br>
							<br>Grab the bar. Put your pinky on the ring marks of your bar. </br>
							<br>Unrack. Take a big breath and unrack the bar by straightening your arms. </br>
							<br>Lower the bar. Lower it to your mid-chest while tucking your elbows 75°. </br>
							<br>Press. </br>
					  </p>
					<li>shoulder press</li>
						<p>
							<br>Stand upright and keep the back straight. </br>
							<br>Hold a dumbbell in each hand at the shoulders with an overhand grip. </br>
							<br>Raise the weights above the head in a controlled motion while exhaling. </br>
							<br>Return the dumbbells to the shoulders while inhaling </br>
					  </p>
					<li>Bent over rows</li>
					 	<p>
							<br>With a dumbbell in each hand, bend over at about a 45-degree angle (no farther). Keep the back straight throughout the exercise </br>
							<br>Lift the weights straight up, exhaling. </br>
							<br>Lower the weights in a controlled manner while inhaling. </br>
							<br>Remain bent over until all repetitions are complete. </br>
            </p>
				</p>
		</div>

		 <button type="button" class="collapsible" >weight loss home workout</button>
		<div class="contentcollaps">
			<p>
				<li>Forward Lunge</li>
					<p>
						<br>A.Stand tall with feet hip-width apart. Place hands on hips or hold weights by sides to start. </br>
						<br>B.Take a controlled step forward with the right leg. Keeping spine tall, lower body until the front and back leg form a 90-degree angle. </br>
						<br>C.Pause, then step right leg back to start. Step left leg forward to repeat on the other side. </br>
					</p>
				<li>Burpee</li>
					<p>
						<br>A.Stand with your feet shoulder-width apart and arms at your sides. Push your hips back, bend knees, and reach palms to the ground to lower into a crouch. </br>
						<br>B.With hands shoulder-width on the floor directly in front of feet, and shift your weight to them to jump back and land softly in plank position. </br>
						<br>C.Jump feet forward so they land just outside of hands. Jump explosively into the air, reaching hands overhead or leaving by sides. </br>
					</p>
				<li>Explosive Lunge</li>
					<p>
						<br>A.Start with feet together, hands on your hips. Step forward with the right leg and lower into a lunge so right knee is bent at a 90-degree angle. </br>
						<br>B.Jump up, switching legs midair. </br>
						<br>C.Land softly with the left leg forward, immediately lowering into a lunge.  </br>
					</p>
				<li>Mountain Climbers</li>
					<p>
						<br>A.Start in a plank position on the floor. Drive the right knee in toward chest without raising hips or allowing right foot to touch the floor.  </br>
						<br>B.Place right foot back in plank and repeat on the other side, driving the left knee in toward chest. Repeat, alternating legs. </br>
					</p>
			</p>
		</div>

		 <button type="button" class="collapsible" >weight loss gym workout</button>
		<div class="contentcollaps">
			<p>
				<li>Plank to Upright Row</li>
					<p>
						<br>Walk or jump both feet outside your hands coming into a low squat like you're sitting back into a chair. </br>
						<br>Press your weight back onto your heels. Squeeze your glutes (your butt muscles) and then come to standing. </br>
						<br>Perform an upright row by pulling the dumbbells up slowly to chest height, letting elbows point out to the sides as you lift dumbbells. </br>
						<br>Then release arms back down with control. </br>
					</p>
				<li>Squat Thruster</li>
					<p>
						<br>Using the lower body, thrust up to standing and press the dumbbells overhead extending the arms long. </br>
						<br>Then lower back to starting position </br>
					</p>
					<li>Cross Behind Lunge Lateral Curl</li>
					<p>
						<br>Cross your right foot behind your left leg landing on the ball of your back foot with both knees bent. </br>
						<br>Step the right foot back to the starting position and lengthen your arms out to your side with a slight bend in the elbow. </br>
						<br>Slowly lower the arms back to your sides and repeat with your left foot stepping back. </br>
					</p>
				<li>treadmill run</li>
					<p>
						<br>run for 3 minutes on medium pace take 30 seconds rest and repeat 4 times </br>
				  </p>
			</p>
		</div>

		 <button type="button" class="collapsible" >general fitness</button>
		<div class="contentcollaps">
			<p>
				<li>BODYWEIGHT SQUATS</li>
				  <p>
						STEPS:

				   	<br>	1. Stand with your hands on the back of your head and your feet shoulder-width apart with your feet turned out slightly to open the hip joint.</br>

					  <br>	2. Lower your body until your thighs are parallel to the floor.</br>

						<br>  3. Pause, then return to the starting position.</br>

						<br>  4. Repeat.</br>
						<br></br>
					</p>
				<li>PUSH-UPS</li>
							<p>
							STEPS:

						<br>	1. Get down on all fours, placing your hands slightly wider than your shoulders.</br>

						<br>	2. Straighten your arms and legs. </br>

						<br>  3. Lower your body until your chest nearly touches the floor. </br>

						<br>  4. Pause, then push yourself back up.</br>
						<br>  5. repeat </br>
					</p>

				<li>jogging</li>
	          <p>
						<br>	1. slow jog for 5 minutes </br>

						<br>	2. rest for a minute </br>

						<br>  3. repeat as many times as you can  </br>

					 </p>

			</p>
		</div>

		<button type="button" class="collapsible" >diet reommendations</button>
	 <div class="contentcollaps">
		<li><h2> for muscle gain:</h2></li>
        <h3> high protein diet</h3>
				 <br>
				   <h3>Defined as:</h3> At least 25% of daily calories from protein.
			 </br>
			 <br>
				 <h3>Pros:</h3> The most consistently beneficial of all diets here, study after study shows that upping your protein intake can help significantly reduce body fat and build lean muscle. For example: Guys who ran sprint intervals, did resistance training, and ate a diet of 2.4g of protein per kg of bodyweight per day (roughly 1g per lb of bodyweight) gained 1.2kg of lean muscle and lost almost 5kg of fat in just four weeks, according to a study in the American Journal of Clinical Nutrition Opens a New Window.
		 </br>
		 <br>
			 <h3> Cons:</h3> With the focus on protein, it’s easy to forget you need to eat enough fat or carbs to fuel your workouts
	 </br>

     <br> </br>

	 <li><h2> for muscle gain:</h2></li>
			 <h3> high protein diet</h3>
				<br>
					<h3>Defined as:</h3> At least 25% of daily calories from protein.
			</br>
			<br>
				<h3>Pros:</h3> The most consistently beneficial of all diets here, study after study shows that upping your protein intake can help significantly reduce body fat and build lean muscle. For example: Guys who ran sprint intervals, did resistance training, and ate a diet of 2.4g of protein per kg of bodyweight per day (roughly 1g per lb of bodyweight) gained 1.2kg of lean muscle and lost almost 5kg of fat in just four weeks, according to a study in the American Journal of Clinical Nutrition Opens a New Window.
		</br>
		<br>
			<h3> Cons:</h3> With the focus on protein, it’s easy to forget you need to eat enough fat or carbs to fuel your workouts
	</br>

	 </div>




<script type="text/javascript">
	var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
<script src='javascript/main.js'></script>

    </div>

</body>
</html>








 <!--

<div class="menu">
    <a href="#" onclick = "navOpen()">
        <img src="icons/menu.svg" alt="menu">
    </a>
</div>

<div class="nav">
    <a href="#" onclick = "navClose()">
        <img src="icons/cross.svg" alt="cross">
    </a>

    <div class="list-items">

        <ul>
            <li><a href='/' style="text-decoration:none" target="_blank">homepage</a></li>
            <li><a href="/nutriinfo" style="text-decoration:none;" target="_blank">Food nutrition</a></li>
            <li class="active">Exercise Recommendations</li>
            <li>Settings</li>
        </ul>
    </div>
</div>

<div class="container">
    <h1>choose program based on your Primary Goal</h1>

    <button type="button" class="collapsible" >bodyweight exercises for muscle</button>
    <div class="contentcollaps">
    <p>
        <li>BODYWEIGHT SQUATS</li>
          <p>
                STEPS:

               <br>	1. Stand with your hands on the back of your head and your feet shoulder-width apart with your feet turned out slightly to open the hip joint.</br>

              <br>	2. Lower your body until your thighs are parallel to the floor.</br>

                <br>  3. Pause, then return to the starting position.</br>

                <br>  4. Repeat.</br>
                <br></br>
            </p>
        <li>PUSH-UPS</li>
                    <p>
                    STEPS:

                <br>	1. Get down on all fours, placing your hands slightly wider than your shoulders.</br>

                <br>	2. Straighten your arms and legs. </br>

                <br>  3. Lower your body until your chest nearly touches the floor. </br>

                <br>  4. Pause, then push yourself back up.</br>
                <br>  5. repeat </br>
               </p>
        <li>PULL-UPS</li>
                    <p>
                    STEPS:

                <br>	1. Grab the pullup bar with your palms down (shoulder-width grip)</br>

                <br>	2. Pull yourself up by pulling your elbows down to the floor </br>

                <br>  3. Go all the way up until your chin passes the be bar </br>

                <br>  4. Lower yourself until your arms are straight.</br>

                <br>  5. repeat </br>

                </p>


        <li>ELBOW PLANK</li>
             <p>
                    <br> 1. Assume a push-up position but bend your arms at your elbows so your weight rests on your forearms.</br>

                    <br> 2. Tighten your abs, clench your glutes and keep your body straight from head to heels.</br>

                    <br> 3. Hold for 30 seconds</br>
                </p>


    </p>
    </div>

     <button type="button" class="collapsible">weight exercises for muscle gain </button>
    <div class="contentcollaps">
          <p>
                <li>SQUATS</li>
                    <p>
                        <br>Get Into Position</br>
                        <br>Brace Your Body </br>
                        <br>Take Your Stance </br>
                        <br> Squat Down </br>
                        <br>Rise </br>
                    </p>
                <li>Deadlift</li>
                    <p>
                        <br>Walk to the bar. Stand with your mid-foot under the bar. </br>
                        <br>Grab the bar. Bend over without bending your legs. </br>
                        <br>Bend your knees. Drop into position by bending your knees until your shins touch the bar. </br>
                        <br>Lift your chest. Straighten your back by raising you chest. </br>
                        <br>Pull </br>
                    </p>
                <li>Bench press</li>
                    <p>
                        <br>Setup. Lie on the flat bench with your eyes under the bar. </br>
                        <br>Grab the bar. Put your pinky on the ring marks of your bar. </br>
                        <br>Unrack. Take a big breath and unrack the bar by straightening your arms. </br>
                        <br>Lower the bar. Lower it to your mid-chest while tucking your elbows 75°. </br>
                        <br>Press. </br>
                  </p>
                <li>shoulder press</li>
                    <p>
                        <br>Stand upright and keep the back straight. </br>
                        <br>Hold a dumbbell in each hand at the shoulders with an overhand grip. </br>
                        <br>Raise the weights above the head in a controlled motion while exhaling. </br>
                        <br>Return the dumbbells to the shoulders while inhaling </br>
                  </p>
                <li>Bent over rows</li>
                     <p>
                        <br>With a dumbbell in each hand, bend over at about a 45-degree angle (no farther). Keep the back straight throughout the exercise </br>
                        <br>Lift the weights straight up, exhaling. </br>
                        <br>Lower the weights in a controlled manner while inhaling. </br>
                        <br>Remain bent over until all repetitions are complete. </br>
        </p>
            </p>
    </div>

     <button type="button" class="collapsible" >weight loss home workout</button>
    <div class="contentcollaps">
        <p>
            <li>Forward Lunge</li>
                <p>
                    <br>A.Stand tall with feet hip-width apart. Place hands on hips or hold weights by sides to start. </br>
                    <br>B.Take a controlled step forward with the right leg. Keeping spine tall, lower body until the front and back leg form a 90-degree angle. </br>
                    <br>C.Pause, then step right leg back to start. Step left leg forward to repeat on the other side. </br>
                </p>
            <li>Burpee</li>
                <p>
                    <br>A.Stand with your feet shoulder-width apart and arms at your sides. Push your hips back, bend knees, and reach palms to the ground to lower into a crouch. </br>
                    <br>B.With hands shoulder-width on the floor directly in front of feet, and shift your weight to them to jump back and land softly in plank position. </br>
                    <br>C.Jump feet forward so they land just outside of hands. Jump explosively into the air, reaching hands overhead or leaving by sides. </br>
                </p>
            <li>Explosive Lunge</li>
                <p>
                    <br>A.Start with feet together, hands on your hips. Step forward with the right leg and lower into a lunge so right knee is bent at a 90-degree angle. </br>
                    <br>B.Jump up, switching legs midair. </br>
                    <br>C.Land softly with the left leg forward, immediately lowering into a lunge.  </br>
                </p>
            <li>Mountain Climbers</li>
                <p>
                    <br>A.Start in a plank position on the floor. Drive the right knee in toward chest without raising hips or allowing right foot to touch the floor.  </br>
                    <br>B.Place right foot back in plank and repeat on the other side, driving the left knee in toward chest. Repeat, alternating legs. </br>
                </p>
        </p>
    </div>

     <button type="button" class="collapsible" >weight loss gym workout</button>
    <div class="contentcollaps">
        <p>
            <li>Plank to Upright Row</li>
                <p>
                    <br>Walk or jump both feet outside your hands coming into a low squat like you're sitting back into a chair. </br>
                    <br>Press your weight back onto your heels. Squeeze your glutes (your butt muscles) and then come to standing. </br>
                    <br>Perform an upright row by pulling the dumbbells up slowly to chest height, letting elbows point out to the sides as you lift dumbbells. </br>
                    <br>Then release arms back down with control. </br>
                </p>
            <li>Squat Thruster</li>
                <p>
                    <br>Using the lower body, thrust up to standing and press the dumbbells overhead extending the arms long. </br>
                    <br>Then lower back to starting position </br>
                </p>
                <li>Cross Behind Lunge Lateral Curl</li>
                <p>
                    <br>Cross your right foot behind your left leg landing on the ball of your back foot with both knees bent. </br>
                    <br>Step the right foot back to the starting position and lengthen your arms out to your side with a slight bend in the elbow. </br>
                    <br>Slowly lower the arms back to your sides and repeat with your left foot stepping back. </br>
                </p>
            <li>treadmill run</li>
                <p>
                    <br>run for 3 minutes on medium pace take 30 seconds rest and repeat 4 times </br>
              </p>
        </p>
    </div>

     <button type="button" class="collapsible" >general fitness</button>
    <div class="contentcollaps">
        <p>
            <li>BODYWEIGHT SQUATS</li>
              <p>
                    STEPS:

                   <br>	1. Stand with your hands on the back of your head and your feet shoulder-width apart with your feet turned out slightly to open the hip joint.</br>

                  <br>	2. Lower your body until your thighs are parallel to the floor.</br>

                    <br>  3. Pause, then return to the starting position.</br>

                    <br>  4. Repeat.</br>
                    <br></br>
                </p>
            <li>PUSH-UPS</li>
                        <p>
                        STEPS:

                    <br>	1. Get down on all fours, placing your hands slightly wider than your shoulders.</br>

                    <br>	2. Straighten your arms and legs. </br>

                    <br>  3. Lower your body until your chest nearly touches the floor. </br>

                    <br>  4. Pause, then push yourself back up.</br>
                    <br>  5. repeat </br>
                </p>

            <li>jogging</li>
          <p>
                    <br>	1. slow jog for 5 minutes </br>

                    <br>	2. rest for a minute </br>

                    <br>  3. repeat as many times as you can  </br>

                 </p>

        </p>
    </div>

    <button type="button" class="collapsible" >diet reommendations</button>
 <div class="contentcollaps">
    <li><h2> for muscle gain:</h2></li>
    <h3> high protein diet</h3>
             <br>
               <h3>Defined as:</h3> At least 25% of daily calories from protein.
         </br>
         <br>
             <h3>Pros:</h3> The most consistently beneficial of all diets here, study after study shows that upping your protein intake can help significantly reduce body fat and build lean muscle. For example: Guys who ran sprint intervals, did resistance training, and ate a diet of 2.4g of protein per kg of bodyweight per day (roughly 1g per lb of bodyweight) gained 1.2kg of lean muscle and lost almost 5kg of fat in just four weeks, according to a study in the American Journal of Clinical Nutrition Opens a New Window.
     </br>
     <br>
         <h3> Cons:</h3> With the focus on protein, it’s easy to forget you need to eat enough fat or carbs to fuel your workouts
 </br>

 <br> </br>

 <li><h2> for muscle gain:</h2></li>
         <h3> high protein diet</h3>
            <br>
                <h3>Defined as:</h3> At least 25% of daily calories from protein.
        </br>
        <br>
            <h3>Pros:</h3> The most consistently beneficial of all diets here, study after study shows that upping your protein intake can help significantly reduce body fat and build lean muscle. For example: Guys who ran sprint intervals, did resistance training, and ate a diet of 2.4g of protein per kg of bodyweight per day (roughly 1g per lb of bodyweight) gained 1.2kg of lean muscle and lost almost 5kg of fat in just four weeks, according to a study in the American Journal of Clinical Nutrition Opens a New Window.
    </br>
    <br>
        <h3> Cons:</h3> With the focus on protein, it’s easy to forget you need to eat enough fat or carbs to fuel your workouts
</br>

 </div>




<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
  content.style.display = "block";
}
});
}
</script>
</div>
<!-- <div class="layer"></div>

<div class="head" id="exercise_head">
    <h1>Exercise<br>Recommendations</h1>
</div>

<div class="content-card">

    <div class="cc-content">
        <h2 class="heading">Your Goal:  <span>Jacked Chest</span></h2>
    </div>

    <div class="cc-content">

        <h2 class="heading" style="margin-top: 1.5em">Schedule:</h2>

        <div class="card pic-card" style="background: url('images/push-up-exercise-warming-up-clip-art-png-favpng-aYV1Kwg2XJMvcfpS3wQ8EP3RE.jpg');">

            <div class="card-content">

                <div class="main-content">
                    <h2></h2>
                    <h2></h2>
                </div>

                <ul class="card-list">

                    <li>
                                 <h3>normal pushups</h3>

                        <h3>20 repetitions x 3 sets</h3>

                        <h3>muscles targeted:</h3>
                        <h3 >chest and triceps</h3>
                    </li>
                </ul>

            </div>
        </div>
        <div class="card pic-card" style="background: url('images/sport-man-do-decline-push-ups-vector-34250775.jpg');">

            <div class="card-content">

                <div class="main-content">
                    <h2></h2>
                    <h2></h2>
                </div>

                <ul class="card-list">
                    <li>
                                   <h3>decline pushups</h3>

                        <h3>20 repetitions x 3 sets</h3>

                        <h3>muscles targeted </h3>
                        <h3 >upper chest</h3>
                    </li>
                </ul>


            </div>
        </div>


</div> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src='javascript/main.js'></script>

 -->