<%- include('./partials/header'); %>

<%- include('./partials/nav'); %>


    <div class="head" id="nutr_head">
        <h1>Nutrition<br>History</h1>
    </div>

    <div class="content-card">

        <div class="cc-content">

            <h2 class="heading" id="home">Categories</h2>
            
            <div class="card" id="cal">
                <h2>Calories</h2>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            
        </div>
        <!--

        <div class="card" id="chol">
            <h2>Cholesterol</h2>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>


        <div class="card" id="prot">
            <h2>Proteins</h2>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        -->

                <!--  <div class="top">

            <h2>Water Reminder</h2>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>


        <form action="" method="">
                    <label for="interval">Intervals: </label>
                    <input type="text" name="itrvl">

                    <h3>Duration </h3>
                <label for="frm">From </label>
                <input type="text" name="frm">
                    <label for="to">To </label>
                    <input type="text" name="to">
                </form>
            -->
        </div> <!-- Content Card end -->

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <script src='./main.js'></script>


</body>
</html>