<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Prime</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="manifest" href="./manifest.json">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">

</head>
<body style="background: none;">
    <div class="start-page">
        <div class="inp-content">

            
            <div class="start-logo">
                <h1>Health Prime</h1>
            </div>
            
            <div class="start-head">
                <h1>Welcome <br> Back</h1>
            </div>

            <div class="form-div">

                
                <form action="/login" method="POST">
                    
                    <div class="field">

                        <input required type="text" name="usrname" id="" autocomplete="off">
                        <label for="usrname">
                            <span class="content-name">Username</span>
                        </label>

                    </div>

                    <div class="field">

                        <input required type="password" name="pwd" id="" autocomplete="off">
                        <label for="pwd">
                            <span class="content-name">Password</span>
                        </label>

                    </div>
                    
                    <input type="submit" value="Log in">
                </form>
                <h4>or</h4>
                <button>Sign up</button>
            </div>
        </div>
            
    </div>
</body>
</html>