<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Prime</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="manifest" href="./manifest.json">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
</head>
<body>

    <div class="menu">
        <a href="#" onclick = "navOpen()">
            <img src="icons/menu.svg" alt="menu">
        </a>
    </div>

    <div class="nav">

        <a href="#" onclick = "navClose()">
            <img src="icons/cross.svg" alt="cross">
        </a>

        <div class="list-items">

            <ul>
                <li>Home</li>
                <li>Nutrition History</li>
                <li class="active">Food Suggestions</li>
                <li>Exercise Recommendations</li>
                <li>Settings</li>
            </ul>
        </div>
    </div>

    <div class="layer"></div>

    <div class="head" id="food_head">
        <h1>Food<br>Suggestions</h1>
    </div>

    <div class="content-card">

        <div class="cc-content">

            <h2 class="heading">Analysis</h2>
            <p class="para">The following analysis has been derived from your previous day's diet</p>

            <ul class="analysis">
                <li>
                    <h3>Calories</h3>
                    <h3 class="quantityBad">-450cal</h3>
                </li>
                <li>
                    <h3>Protein</h3>
                    <h3 class="quantityBad">-100mg</h3>
                </li>
            </ul>
        </div>

        <div class="cc-content">

            <h2 class="heading" style="margin-top: 1.5em">Suggestions</h2>

            <div class="card pic-card" style="background: url('images/donut.svg');">

                <div class="card-content">

                    <div class="main-content">
                        <h2>Donuts</h2>
                    <h2>x1</h2>
                </div>

                <ul class="card-list">
                    <li>
                        <h3>Calories per pc:</h3>
                        <h3 class="quantityBad">452cal</h3>
                    </li>
                    <li>
                        <h3>Protein per pc</h3>
                        <h3 class="quantityBad">100mg</h3>
                    </li>
                </ul>


            </div>
            </div>

            <div class="card pic-card" style="background: url('images/donut.svg');">

                <div class="card-content">

                    <div class="main-content">
                        <h2>Donuts</h2>
                        <h2>x1</h2>
                    </div>

                    <ul class="card-list">
                        <li>
                            <h3>Calories per pc:</h3>
                            <h3 class="quantityBad">452cal</h3>
                        </li>
                        <li>
                            <h3>Protein per pc</h3>
                            <h3 class="quantityBad">100mg</h3>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div> <!-- Content Card end -->

    <div class="cam">
        <img src="icons/cam.svg" alt="">
    </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <script src='./main.js'></script>


</body>
</html>