@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: Nunito;
  min-height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC9AA), color-stop(46.14%, #FFF7F6));
  background: linear-gradient(180deg, #FFC9AA 0%, #FFF7F6 46.14%);
}

a {
  text-decoration: none;
  color: black;
}

.nav a {
  color: white;
}

button {
  background-color: #75FFC3;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
}

.fitness-goal button {
  margin-bottom: 1rem;
  background-color: #4bc57a;
}

.fitness-goal button:not(.inactive) {
  background-color: #75FFC3;
}

.body-fat-no label {
  width: 100%;
}

.body-fat-no input[type="number"] {
  width: 98%;
  padding: .7rem 0;
  padding-right: .5rem;
  margin: .5rem 0;
}

section.pa-factor h2 {
  font-size: 1.2rem !important;
}

section.pa-factor input[type="number"] {
  width: 98%;
  padding: .7rem 0;
  padding-right: .1rem;
  margin: .5rem 0 1rem 0;
}

section.pa-factor div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

section.pa-factor div label {
  font-size: 1rem;
}

.start-page {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  color: white;
  background: url("../../images/plate_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.start-page .content {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  right: 2rem;
  z-index: 2;
}

.start-page .content h1, .start-page .content p {
  margin: 1rem 0;
}

.start-page .content button {
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 1rem;
  margin: 1rem 0 0 0;
  font-size: .9rem;
  font-weight: 800;
}

.start-page .content button:nth-of-type(1) {
  background-color: white;
  color: black;
}

.start-page .content button:nth-of-type(2) {
  border: 2px solid #FFC9AA;
  background: transparent;
  color: white;
}

.start-page::before {
  content: '';
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .66;
}

.start-page .inp-content {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-page .inp-content .start-logo h1 {
  color: #75FFC3;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.form-div {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.form-div .field {
  width: 100%;
  height: 2rem;
  position: relative;
  margin: 2rem 0 0 0;
}

.form-div .field input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1rem;
}

.form-div .field label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.form-div .field label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #75FFC3;
  left: 0;
  bottom: -1.2rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-div .field label .content-name {
  position: absolute;
  bottom: -.7rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-div .field input:focus, .form-div .field input:valid {
  outline: none;
  border: none;
}

.form-div .field input:focus + label .content-name,
.form-div .field input:valid + label .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: .8rem;
  color: #75FFC3;
}

.form-div .field input:focus + label::after,
.form-div .field input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form-div input[type="submit"], .form-div button {
  position: relative;
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: .9rem;
  font-size: .9rem;
  font-weight: 800;
}

.form-div input[type=submit] {
  margin-top: 3rem;
}

.form-div button {
  margin-bottom: 2rem;
  border: 2px solid #FFC9AA;
  background: transparent;
  color: white;
}

.form-div h4 {
  text-align: center;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  margin-top: 1em;
}

.menu img {
  float: right;
}

.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0%;
  display: none;
  -webkit-animation: opacity 4s ease-in-out;
          animation: opacity 4s ease-in-out;
}

.nav {
  background-color: #84543A;
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0 2em;
  left: 100%;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}

.nav img {
  float: right;
  margin-top: 3em;
  position: relative;
}

.nav .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav ul li {
  list-style-type: none;
  color: white;
  font-weight: 600;
  margin: 3em 0;
  text-align: right;
}

.nav ul li.active {
  color: #75FFC3;
}

.head {
  padding: 9em 2em;
  margin-bottom: 2em;
}

.head h1 {
  color: black;
  text-align: left;
  font-size: 1.5em;
  font-family: Nunito;
  font-weight: 800;
  margin: 0;
  -webkit-transform: translate(0, -0.3em);
          transform: translate(0, -0.3em);
}

.head h3 {
  font-family: Nunito;
  font-weight: 400;
  font-size: 1.1em;
  margin: 0;
  margin-top: .2em;
}

.head .history-btn {
  background-color: #FDFDFD;
  -webkit-box-shadow: 0px 4px 14px rgba(241, 210, 195, 0.5);
          box-shadow: 0px 4px 14px rgba(241, 210, 195, 0.5);
  border-radius: 12px;
  padding: .8em;
  margin: 2em 0 1em 0;
}

.head .history-btn h2 {
  font-size: 1em;
  text-align: center;
  margin: 0;
  font-family: Nunito;
  font-weight: 400;
}

#dash-head {
  padding: 12em 2em 2em 2em;
}

#nutr_head {
  background-image: url("../../images/donuts.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
}

#food_head {
  background-image: url("../../images/Salad.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
}

#exercise_head {
  background-image: url("../../images/exercise.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
}

#settings {
  background: #FFC9AA;
}

.cc-content {
  margin: 0 2rem;
}

.heading {
  font-weight: 800;
  font-size: 1.2rem;
}

.heading span {
  color: #75FFC3;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.para {
  font-size: 1em;
  color: #626262;
  margin-top: .1rem;
  margin-bottom: .1rem !important;
}

.content-card {
  background-color: #FEF6F4;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
  padding: 2em 0;
  margin-top: -5em;
}

.analysis {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.analysis li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.analysis li h3 {
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.analysis li h3.quantityBad {
  color: red;
}

.analysis li h3.quantityGood {
  color: green;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

button.collapsible {
  width: 100%;
  background: #FDFDFD;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 4px 14px rgba(241, 210, 195, 0.5);
          box-shadow: 0px 4px 14px rgba(241, 210, 195, 0.5);
  margin-top: 1.2rem;
}

button.active {
  background-color: #F1D2C3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contentcollaps {
  display: none;
}

video, canvas {
  display: none;
}

main#app {
  margin: 0 2em;
}

.nutrition {
  position: relative;
}

.step {
  font-size: 1.2rem;
  font-weight: 700;
}

#photoStep {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
}

.food-photo {
  background-size: cover;
  padding: 5rem 1rem 6rem;
  position: relative;
  color: white;
  margin: 1rem 0;
}

.food-photo:after {
  content: '';
  position: absolute;
  background-color: black;
  opacity: 55%;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

#concepts p {
  font-size: 1rem;
}

.card {
  background-color: #FDFDFD !important;
  margin: 2em 0;
  padding: 1.2em;
  color: black;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 14px rgba(241, 210, 195, 0.5);
          box-shadow: 0px 4px 14px rgba(241, 210, 195, 0.5);
}

.card h2 {
  font-size: 1rem;
  font-weight: 700;
}

.card h3 {
  font-size: .9rem;
}

.card label {
  font-size: .8rem;
}

.card p {
  font-size: .6rem;
}

.card input {
  width: 25%;
}

.card .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.card .main-content * {
  margin: 0;
}

.card .card-list {
  list-style: none;
  padding: 0;
}

.card .card-list * {
  margin: 0;
}

.card .card-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.pic-card {
  background-repeat: no-repeat !important;
  background-size: 22em !important;
  padding-top: 7.5rem;
  padding-bottom: .4rem;
}

div#water-rem {
  margin-bottom: 6em;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

div#water-rem .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#water-rem input {
  width: 100%;
  padding: .5rem 0;
}

div#water-rem button {
  margin-top: 1.5rem;
  width: 100%;
}

div#water-rem .switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

div#water-rem .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

div#water-rem .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

div#water-rem .slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.5em;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

div#water-rem input:checked + .slider:before {
  -webkit-transform: translateX(1.4em);
  transform: translateX(1.4em);
}

div#water-rem .slider.round {
  border-radius: 34px;
}

div#water-rem .slider.round:before {
  border-radius: 50%;
}

.cam {
  position: fixed;
  background-color: #75FFC3;
  bottom: 2em;
  right: 1em;
  border-radius: 100px;
  width: 4em;
  height: 4em;
  -webkit-box-shadow: 0px 4px 14px #6dd8aa;
          box-shadow: 0px 4px 14px #6dd8aa;
  z-index: 1;
}

.cam img {
  position: relative;
  text-align: center;
  color: white;
  left: 40%;
  top: 30%;
  size: 2em;
}
/*# sourceMappingURL=main.css.map */