<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Prime</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="manifest" href="./manifest.json">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
	
	<script src="javascript/models/food-item.js" defer ></script>
	<script src="javascript/collections/selected-food-items.js" defer ></script>
	<script src="javascript/views/selected-food-items-view.js" defer ></script>
	<script src="javascript/views/total-food-items-view.js" defer ></script>
	<script src="javascript/views/app-view.js" defer ></script>


	<script type="text/template" id="fooditem-template">
		<li class='foodItem'>
			<span class='foodName'> <%= name %> </span>
			<span class='calorieValue'> <%= calories %> </span>
	  <span class='proteinValue'><%= protein %> </span>
	  <span class='carbValue'><%= carbs %> </span>
	  <span class='fatValue'><%= fats %> </span>
		</li>
	</script>
</head>
<body>

    <div class="menu">
        <a href="#" onclick = "navOpen()">
            <img src="icons/menu.svg" alt="menu">
        </a>
    </div>

    <div class="nav">

        <a href="#" onclick = "navClose()">
            <img src="icons/cross.svg" alt="cross">
        </a>

        <div class="list-items">

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/nutriinfo" style="text-decoration:none;">Nutrition Info</a></li>
                <li><a href="/calorieintake" style="text-decoration:none;">Nutrition Recommendations</a></li>
                <li><a href="/exercise" style="text-decoration:none;" >Exercise Recommendations</a></li>
            </ul>
        </div>
    </div>

    <div class="layer"></div>

    <div class="head" id="nutr_head">
        <h1>Nutrition<br>Info</h1>
    </div>

    <div class="content-card">

        <div class="cc-content">
            <div class="card" id="prot">
                <h2>Nutrients</h2>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>

		</div>
        
        
		<!--
        
        
        -->
        
                <!--  <div class="top">
                    
            <h2>Water Reminder</h2>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>


        <form action="" method="">
                    <label for="interval">Intervals: </label>
                    <input type="text" name="itrvl">

                    <h3>Duration </h3>
                <label for="frm">From </label>
                <input type="text" name="frm">
                    <label for="to">To </label>
                    <input type="text" name="to">
                </form>
            -->
        </div> <!-- Content Card end -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src='javascript/main.js'></script>
<!-- <div id="loading-pane" class="loading-pane">
	<img src="..." class="loading-icon" />
</div> -->

<script>
	$(document).ready(function(){
		  $( "#loading-pane" ).hide();
		$( document ).ajaxStart(function() {
		  $( "#loading-pane" ).show();
		});
		$( document ).ajaxComplete(function() {
		  $( "#loading-pane" ).hide();
		});
	});
</script>

</body>
</html>


